.appbar {
    background-color: #000000 !important;
}

.text-decoration-none{
    text-decoration: none;
    color: white;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nomeHorizontal{
    width: 160px;
}