.appbar {
    background-color: #000000 !important;
    top: -2px !important;
}

.text-decoration-none{
    text-decoration: none;
    color: white;
}

.sanduiche{
    color: black !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nomeHorizontal{
    width: 160px;
}

.teste{
    background-color: black !important;
    color: #000000 !important;
}