.visualizacao{
  min-height: 100vh;
  /* min-height: calc(100vh - 228px); */
}

.grid-App{
  direction: column;
  justify-content: center;
}

.gridItem-App{
  display: flex;
  justify-content: center;
  width: 100%;
}